* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes speen {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
body {
  background-color: rebeccapurple;
  min-height: 500vh;
}

#header {
  background: linear-gradient(341.81deg, #E1B0FF 19.26%, #FF84FB 64.69%, #F3B08E 113.77%, #C978FB 123.97%);
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 2em;
}
#header .hikari-vector {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  filter: drop-shadow(-7px 4px 0px rgba(0, 0, 0, 0.25));
}
#header .hikari-logo {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  transform: translate(-50%);
  bottom: 4%;
  left: 50%;
  height: 36%;
}
#header .decor_dashed-border {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  transform: translate(-50%);
  max-width: min(100vw, 1200px);
  width: 92vw;
  height: 93%;
  -o-object-fit: fill;
     object-fit: fill;
  bottom: 3%;
  left: 50%;
  opacity: 0.6;
}
#header .decor_moon-ct {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  transform: translate(-50%);
  top: 30%;
  left: 50%;
  z-index: 0;
  animation: speen 125s linear infinite;
  transform-origin: 0% 50%;
}