@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nova+Cut&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tx-under {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

@keyframes speen {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
body {
  background-color: rgb(255, 255, 255);
  background: url("../assets/pattern/purple_cross.png"), rgb(255, 255, 255);
  background-blend-mode: multiply;
  min-height: 500vh;
  overflow-x: hidden;
  width: 100vw;
}

* {
  scroll-behavior: smooth;
  font-family: "Nova Cut", sans-serif;
}

h1, h2, h3 {
  font-family: "Cinzel Decorative", cursive;
  color: #FAEDF6;
}

#header {
  background: linear-gradient(341.81deg, #E1B0FF 19.26%, #FF84FB 64.69%, #F3B08E 113.77%, #C978FB 123.97%);
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 2em;
  box-shadow: 0px 4px 15px 2px rgba(14, 12, 107, 0.117);
}
#header .hikari-vector {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  filter: drop-shadow(-7px 4px 0px rgba(0, 0, 0, 0.25));
  transition: all 250ms ease;
}
#header .hikari-logo {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  transform: translate(-50%);
  bottom: 4%;
  left: calc(50% - 20px);
  height: 36%;
}
#header .decor_dashed-border {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  transform: translate(-50%);
  max-width: min(100vw, 1200px);
  width: 92vw;
  height: 94%;
  -o-object-fit: fill;
     object-fit: fill;
  bottom: 3%;
  left: 50%;
  opacity: 0.6;
}
#header .decor_moon-ct {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  transform: translate(-50%);
  top: 30%;
  left: 50%;
  z-index: 0;
  animation: speen 125s linear infinite;
  transform-origin: 0% 50%;
}

#nav {
  background: linear-gradient(180deg, #96379C 0%, #C36BAE 100%);
  border: 2px solid #FAEDF6;
  box-shadow: 0px 2px 11px #A65E9B;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: 0.5em 1em;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  border-radius: 2em;
  gap: 0.4em;
}
#nav .btn {
  background: none;
  color: #FAEDF6;
  padding: 0.4em 2em;
  font-size: 1.1rem;
  border: none;
  border-radius: 1em;
  transition: all 250ms ease;
  font-family: "Nova Cut", sans-serif;
}
#nav .btn:hover, #nav .btn.selected {
  background-color: #7B1778;
  color: #FFD06A;
}

#about {
  background-color: #434760;
  max-width: 1100px;
  margin: 2em auto;
  border-radius: 0 230px 0 0;
  min-height: 350px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: end;
  border: 2px solid #FAEDF6;
  position: relative;
}
#about .img-part {
  background: url("../assets/image/hikari-ribbon_half.png");
  background-size: cover;
  background-position: 80% 120%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  scale: 1.2;
  transform-origin: bottom;
  transform: translateY(4px);
}
#about .text-part {
  align-self: normal;
  text-align: center;
  padding-right: 1em;
}
#about .text-part .title {
  font-size: 4rem;
  white-space: nowrap;
  text-align: left;
  position: relative;
  left: -15%;
  margin-top: 0.3em;
  margin-bottom: -10px;
}
#about .text-part .title span {
  font-weight: normal;
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-family: "Cinzel", serif;
}
#about .text-part .frame {
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  align-items: center;
  white-space: nowrap;
  color: #FCEBB5;
  gap: 1em;
  max-width: 60%;
  margin: 0 auto;
}
#about .text-part .frame hr {
  width: 100%;
  border-bottom: 2px solid #FCEBB5;
}
#about .text-part .paragraph {
  color: #FAEDF6;
  margin: 2em;
}
#about::before {
  content: "";
  position: absolute;
  transform: translate(-50%);
  width: 97%;
  height: 90%;
  left: 50%;
  bottom: 5%;
  border: 1px solid rgba(255, 255, 255, 0.5490196078);
  border-radius: 80px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
#about::after {
  content: url("../assets/decoration/star_1.svg");
  position: absolute;
  top: 0%;
  right: 2px;
  scale: 0.75;
  animation: speen 18s infinite linear;
  z-index: 2;
  filter: drop-shadow(0px 0px 15px rgba(237, 71, 249, 0.4588235294));
}

#social {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 120px;
}
#social .section-header {
  background: linear-gradient(180deg, #FAA5CD 0%, #FC9AE7 100%);
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 0 0.2em;
  border-radius: 2em 2em 0 0;
}
#social .section-header hr {
  width: 100%;
  margin: 2em;
  border: none;
  border-bottom: 2px solid #FCEBB5;
}
#social .section-header .title {
  font-size: 2.4rem;
  padding: -2em 0;
}
#social .section-header .decor_star {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 50px;
  object-fit: contain;
  scale: 1.4;
  animation: speen 25s infinite linear;
}
#social .section-header .decor_star:last-child {
  animation: speen 25s reverse infinite linear;
}
#social .links {
  min-height: 550px;
  background: linear-gradient(180deg, #CE88D5 0%, #A472D0 100%, #250E38 100%), url("..//assets/image/hikari_shadow1.png");
  background-blend-mode: multiply;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 2em 2em;
}
#social .links .link {
  display: inline-block;
  aspect-ratio: 1/1;
  position: relative;
  background: linear-gradient(180deg, #D884FF 0%, rgba(255, 208, 106, 0.74) 59.53%, rgba(255, 208, 106, 0) 97.03%);
  scale: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  max-width: 150px;
  padding: 1em;
  gap: 0.2em;
}
#social .links .link .link_title {
  position: relative;
  font-family: "Cinzel", serif;
  color: #FAEDF6;
  background-color: #434760;
  font-size: 0.8rem;
  padding: 0 2em;
  white-space: nowrap;
  border-radius: 2em;
  letter-spacing: 3px;
  text-align: center;
}
#social .links .link .link_icon {
  font-size: 5rem;
  color: #434760;
  position: relative;
}
#social .links .link .link_a {
  width: 100%;
  height: 100%;
  background-color: rgba(26, 25, 27, 0.1882352941);
  position: absolute;
  border-radius: 50%;
  opacity: 0.02;
  z-index: 100;
}
#social .links .link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  rotate: 45deg;
  border: 4px solid #FAEDF6;
  scale: 0.8;
  transform-origin: center;
  opacity: 0.4;
  bottom: 0%;
}
#social .links .link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  rotate: 0deg;
  border: 4px solid #FAEDF6;
  scale: 0.6;
  transform-origin: center;
  opacity: 0;
  bottom: 0%;
  transition: all 250ms ease;
}
#social .links .link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  rotate: 135deg;
  border: 6px solid #FF84FB;
  scale: 0.84;
  transform-origin: center;
  opacity: 1;
  z-index: -1;
  bottom: 0%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.196);
}
#social .links .side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}
#social .links .side .offset-down {
  position: relative;
  top: 23%;
}
#social .links .side .row {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

#schedule {
  margin: -10px;
  border: 5px solid #FFD06A;
  background-color: #434760;
  min-height: 500px;
  height: 500px;
  display: flex;
  justify-content: stretch;
}
#schedule .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1500px;
  padding-left: 2em;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 3em;
}
#schedule .scheds {
  height: 80%;
}
#schedule .scheds .scheds-container {
  background-color: #434760;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid #FAEDF6;
  border-radius: 1em;
  height: 100%;
  overflow: hidden;
}
#schedule .scheds .scheds-container .sched-img {
  width: 100%;
  height: 100%;
  background-color: rgba(5, 4, 5, 0.466);
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
#schedule .text {
  background-color: #895AB0;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  padding: 1em 1.2em;
}
#schedule .text .title {
  font-size: 3.2rem;
}
#schedule .text hr {
  border: 1px solid #FAEDF6;
  opacity: 0.67;
  border-radius: 2em;
  margin: -0.2em 1em;
}
#schedule .text .sub-title {
  margin: 0.2em;
  font-size: 2rem;
  color: #FFD06A;
}

#gallery {
  min-height: 800px;
  background: #E1B0FF;
  border-radius: 0 0 5em 5em;
  padding-top: 3em;
}
#gallery .gallery-lens {
  height: 650px;
  background-color: #985FCA;
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 650px;
  margin: 0 auto;
  overflow: hidden;
}
#gallery .gallery-lens img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #8749b9;
  scale: 0.95;
  border-radius: 50%;
}