@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nova+Cut&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tx-under {
  text-decoration: underline;
}

.btn, #contact .content .center .text-part .text .btn-send, #gallery .gallery-controls .btn-controls {
  background: none;
  color: #FAEDF6;
  padding: 0.4em 2em;
  font-size: 1.1rem;
  border: none;
  border-radius: 1em;
  transition: all 250ms ease;
  font-family: "Nova Cut", sans-serif;
}
.btn:hover, #contact .content .center .text-part .text .btn-send:hover, #gallery .gallery-controls .btn-controls:hover, .btn.selected, #contact .content .center .text-part .text .selected.btn-send, #gallery .gallery-controls .selected.btn-controls {
  background-color: #7B1778;
  color: #FFD06A;
  cursor: pointer;
}
.btn:active, #contact .content .center .text-part .text .btn-send:active, #gallery .gallery-controls .btn-controls:active {
  scale: 0.94;
}

@keyframes speen {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
body {
  background-color: rgb(255, 255, 255);
  background: url("../assets/pattern/purple_cross.png"), rgb(255, 255, 255);
  background-blend-mode: multiply;
  min-height: 600vh;
  overflow-x: hidden;
  width: 100vw;
}

* {
  scroll-behavior: smooth;
  font-family: "Nova Cut", sans-serif;
}

h1, h2, h3 {
  font-family: "Cinzel Decorative", cursive;
  color: #FAEDF6;
}

#header {
  background: linear-gradient(341.81deg, #E1B0FF 19.26%, #FF84FB 64.69%, #F3B08E 113.77%, #C978FB 123.97%);
  height: 500px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 2em;
  box-shadow: 0px 4px 15px 2px rgba(14, 12, 107, 0.117);
}
#header .hikari-vector {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  filter: drop-shadow(-7px 4px 0px rgba(0, 0, 0, 0.25));
  transition: all 250ms ease;
}
#header .hikari-logo {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  transform: translate(-50%);
  bottom: 4%;
  left: calc(50% - 20px);
  height: 36%;
}
#header .decor_dashed-border {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  transform: translate(-50%);
  max-width: min(100vw, 1200px);
  width: 92vw;
  height: 94%;
  -o-object-fit: fill;
     object-fit: fill;
  bottom: 3%;
  left: 50%;
  opacity: 0.6;
}
#header .decor_moon-ct {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  transform: translate(-50%);
  top: 30%;
  left: 50%;
  z-index: 0;
  animation: speen 125s linear infinite;
  transform-origin: 0% 50%;
}

#nav, #gallery .gallery-header {
  background: linear-gradient(180deg, #96379C 0%, #C36BAE 100%);
  border: 2px solid #FAEDF6;
  box-shadow: 0px 2px 11px #A65E9B;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: 0.5em 1em;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  border-radius: 2em;
  gap: 0.4em;
}

#about {
  background-color: #434760;
  max-width: 1100px;
  margin: 2em auto;
  border-radius: 0 230px 0 0;
  min-height: 350px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: end;
  border: 2px solid #FAEDF6;
  position: relative;
}
#about .img-part {
  background: url("../assets/image/hikari-ribbon_half.png");
  background-size: cover;
  background-position: 80% 120%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  scale: 1.2;
  transform-origin: bottom;
  transform: translateY(4px);
}
#about .text-part {
  align-self: normal;
  text-align: center;
  padding-right: 1em;
}
#about .text-part .title {
  font-size: 4rem;
  white-space: nowrap;
  text-align: left;
  position: relative;
  left: -15%;
  margin-top: 0.3em;
  margin-bottom: -10px;
}
#about .text-part .title span {
  font-weight: normal;
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-family: "Cinzel", serif;
}
#about .text-part .frame {
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  align-items: center;
  white-space: nowrap;
  color: #FCEBB5;
  gap: 1em;
  max-width: 60%;
  margin: 0 auto;
}
#about .text-part .frame hr {
  width: 100%;
  border-bottom: 2px solid #FCEBB5;
}
#about .text-part .paragraph {
  color: #FAEDF6;
  margin: 2em;
}
#about::before {
  content: "";
  position: absolute;
  transform: translate(-50%);
  width: 97%;
  height: 90%;
  left: 50%;
  bottom: 5%;
  border: 1px solid rgba(255, 255, 255, 0.5490196078);
  border-radius: 80px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
#about::after {
  content: url("../assets/decoration/star_1.svg");
  position: absolute;
  top: 0%;
  right: 2px;
  scale: 0.75;
  animation: speen 18s infinite linear;
  z-index: 2;
  filter: drop-shadow(0px 0px 15px rgba(237, 71, 249, 0.4588235294));
}

#social {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 120px;
}
#social .section-header {
  background: linear-gradient(180deg, #FAA5CD 0%, #FC9AE7 100%);
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 0 0.2em;
  border-radius: 2em 2em 0 0;
}
#social .section-header hr {
  width: 100%;
  margin: 2em;
  border: none;
  border-bottom: 2px solid #FCEBB5;
}
#social .section-header .title {
  font-size: 2.4rem;
  padding: -2em 0;
}
#social .section-header .decor_star {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 50px;
  object-fit: contain;
  scale: 1.4;
  animation: speen 25s infinite linear;
}
#social .section-header .decor_star:last-child {
  animation: speen 25s reverse infinite linear;
}
#social .links {
  min-height: 550px;
  background: linear-gradient(180deg, #CE88D5 0%, #A472D0 100%, #250E38 100%), url("..//assets/image/hikari_shadow1.png");
  background-blend-mode: multiply;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 2em 2em;
}
#social .links .link {
  display: inline-block;
  aspect-ratio: 1/1;
  position: relative;
  background: linear-gradient(180deg, #D884FF 0%, rgba(255, 208, 106, 0.74) 59.53%, rgba(255, 208, 106, 0) 97.03%);
  scale: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  max-width: 150px;
  padding: 1em;
  gap: 0.2em;
}
#social .links .link .link_title {
  position: relative;
  font-family: "Cinzel", serif;
  color: #FAEDF6;
  background-color: #434760;
  font-size: 0.8rem;
  padding: 0 2em;
  white-space: nowrap;
  border-radius: 2em;
  letter-spacing: 3px;
  text-align: center;
}
#social .links .link .link_icon {
  font-size: 5rem;
  color: #434760;
  position: relative;
}
#social .links .link .link_a {
  width: 100%;
  height: 100%;
  background-color: rgba(26, 25, 27, 0.1882352941);
  position: absolute;
  border-radius: 50%;
  opacity: 0.02;
  z-index: 100;
}
#social .links .link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  rotate: 45deg;
  border: 4px solid #FAEDF6;
  scale: 0.8;
  transform-origin: center;
  opacity: 0.4;
  bottom: 0%;
}
#social .links .link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  rotate: 0deg;
  border: 4px solid #FAEDF6;
  scale: 0.6;
  transform-origin: center;
  opacity: 0;
  bottom: 0%;
  transition: all 250ms ease;
}
#social .links .link:hover::after {
  content: "";
  rotate: 135deg;
  border: 6px solid #FF84FB;
  scale: 0.84;
  transform-origin: center;
  opacity: 1;
  z-index: -1;
  bottom: 0%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.196);
}
#social .links .side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}
#social .links .side .offset-down {
  position: relative;
  top: 23%;
}
#social .links .side .row {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

#schedule {
  margin: -10px;
  border: 5px solid #FFD06A;
  background-color: #434760;
  min-height: 500px;
  height: 500px;
  display: flex;
  justify-content: stretch;
}
#schedule .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1500px;
  padding-left: 2em;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 3em;
}
#schedule .scheds {
  height: 80%;
}
#schedule .scheds .scheds-container {
  background-color: #434760;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid #FAEDF6;
  border-radius: 1em;
  height: 100%;
  overflow: hidden;
}
#schedule .scheds .scheds-container .sched-img {
  width: 100%;
  height: 100%;
  background-color: rgba(5, 4, 5, 0.466);
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
#schedule .text {
  background-color: #895AB0;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  padding: 1em 1.2em;
}
#schedule .text .title {
  font-size: 3.2rem;
}
#schedule .text hr {
  border: 1px solid #FAEDF6;
  opacity: 0.67;
  border-radius: 2em;
  margin: -0.2em 1em;
}
#schedule .text .sub-title {
  margin: 0.2em;
  font-size: 2rem;
  color: #FFD06A;
}

#gallery {
  min-height: 800px;
  background: url("../assets/pattern/diamond_star.png"), #E1B0FF;
  border-radius: 0 0 5em 5em;
  padding-top: 100px;
  margin-top: 10px;
  position: relative;
}
#gallery .gallery-header {
  min-width: 400px;
  text-align: center;
  position: relative;
  position: absolute;
  transform: translate(-50%);
  position: absolute;
  top: 17%;
  z-index: 10;
  left: 50%;
}
#gallery .gallery-header .decor_wand-top {
  position: absolute;
  transform: translate(-50%);
  z-index: -1;
  bottom: -90px;
  left: 110px;
  scale: 0.7;
  transform-origin: center;
  display: block;
}
#gallery .gallery-header h2 {
  font-size: 1.4rem;
  padding: 0;
  line-height: 80%;
}
#gallery .gallery-lens {
  height: 650px;
  background-color: #985FCA;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px rgba(16, 2, 33, 0.0666666667);
  width: 650px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
#gallery .gallery-lens img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #7c1ca1;
  scale: 0.95;
  border-radius: 50%;
  transition: all 250ms ease;
}
#gallery .gallery-lens img:hover {
  border-radius: 0;
  border: 3px solid white;
  -o-object-fit: contain;
     object-fit: contain;
  scale: 0.8;
  z-index: 1000;
}
#gallery .gallery-lens::before {
  content: "";
  background-color: #985FCA;
  position: absolute;
  transform: translate(-50%);
  width: 40%;
  height: 120px;
  left: 50%;
  top: 90%;
}
#gallery .gallery-controls {
  position: absolute;
  transform: translate(-50%);
  bottom: 50%;
  left: 50%;
  width: 750px;
  display: flex;
  transform-origin: center;
  justify-content: space-between;
}
#gallery .gallery-controls .btn-controls {
  height: 200px;
  position: relative;
  top: 100px;
  padding: 0 0.2em;
  background: #8749b9;
  border-radius: 1em 0 0 1em;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.0666666667);
  font-size: 2rem;
}
#gallery .gallery-controls .btn-controls:last-child {
  border-radius: 0 1em 1em 0;
}
#gallery .gallery-info {
  position: absolute;
  transform: translate(-50%);
  background-color: #434760;
  bottom: 10%;
  left: 50%;
  width: 600px;
  padding: 0.3em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.263);
}
#gallery .gallery-info h2 {
  font-size: 0.9rem;
  color: #FFD06A;
  font-family: "Nova Cut", sans-serif;
  font-weight: normal;
}
#gallery .gallery-info hr {
  border: none;
  border-bottom: 2px solid rgba(255, 238, 255, 0.2235294118);
  max-width: 30%;
  margin: 0.2em auto;
}
#gallery .gallery-info #carousel-link {
  font-size: 1.4rem;
  color: #FAEDF6;
  text-decoration: none;
}
#gallery .gallery-info .decor {
  display: flex;
  position: absolute;
  transform: translate(-50%);
  bottom: 30%;
  left: 24%;
  scale: 0.7;
}
#gallery .gallery-info .decor img {
  -o-object-fit: contain;
     object-fit: contain;
}
#gallery .gallery-info .decor .decor_star {
  scale: 1.2;
  animation: speen 25s linear infinite;
}
#gallery .gallery-info .decor .decor_list {
  scale: 1;
  position: relative;
  top: 50px;
}
#gallery .gallery-info .decor .decor_list.r {
  scale: -1 1;
}

#support {
  background: linear-gradient(180deg, #E57DEE 0%, #985FCA 100%);
  max-width: 1200px;
  border-radius: 2em 0 0 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 100px auto;
  overflow: hidden;
}
#support .links {
  background-color: #434760;
  padding: 5em 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
#support .links .link {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 1em;
  position: relative;
}
#support .links .link .text .name {
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
}
#support .links .link .icon {
  border-radius: 1em;
  background-color: #595D73;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#support .links .link .icon:hover {
  cursor: pointer;
}
#support .links .link .icon i, #support .links .link .icon .i {
  font-size: 2.4rem;
  color: #FAEDF6;
  pointer-events: none;
}
#support .links .link .icon .i {
  font-family: sans-serif;
  letter-spacing: 3px;
}
#support .links .link .icon::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 3px solid #FF84FB;
  scale: 0.8;
  position: absolute;
  opacity: 0;
}
#support .links .link .icon::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 3px solid #FF84FB;
  scale: 0.8;
  position: absolute;
  opacity: 0;
}
#support .links .link .icon::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 3px solid #FAEDF6;
  rotate: 135deg;
  scale: 0.8;
  opacity: 0.2;
  position: absolute;
}
#support .links .link .icon:hover::after {
  opacity: 1;
  scale: 0.9;
  rotate: 135deg;
  transition: all 250ms ease;
}
#support .links .link .link_a {
  color: #FFD06A;
  font-family: "Nova Cut", sans-serif;
  font-size: 0.7rem;
}
#support .links .link .link_a:active {
  color: #FFD06A;
}
#support .title-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;
}
#support .title-card hr {
  width: 60%;
  border: none;
  border-bottom: 2px solid #FAEDF6;
  border-radius: 2em;
  margin: 0.42em 0;
}
#support .title-card .title {
  text-shadow: 0px 0px 10px rgba(19, 19, 5, 0.112);
  font-size: 3rem;
}
#support .title-card .sub-title {
  color: #FFD06A;
  font-size: 1.4rem;
  font-family: "Cinzel", serif;
}
#support .title-card .decor_frame {
  position: absolute;
  z-index: -1;
}
#support .title-card .decor_frame.top {
  left: 1%;
  top: 1%;
}
#support .title-card .decor_frame.bottom {
  bottom: 1%;
  right: 1%;
  scale: -1;
}
#support .title-card .decor_shadow {
  opacity: 0.7;
  position: absolute;
  left: 0%;
  bottom: 0%;
  scale: 1;
  max-width: 60%;
  z-index: -1;
  transform-origin: center;
}
#support .title-card .decor_diamond {
  position: absolute;
  right: 2%;
  top: 2%;
}

#contact {
  background: linear-gradient(123.02deg, #C85FFF 30.3%, #FFD06A 73.41%);
}
#contact .title {
  font-size: 3rem;
  margin-right: 1em;
  margin-top: 0.4em;
  text-align: right;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.293);
}
#contact .content {
  background: url("../assets/pattern/checker.png"), #434760;
  background-attachment: fixed;
}
#contact .content .center {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: end;
}
#contact .content .center .img-part img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  scale: 1.5;
  bottom: 110px;
  right: 20%;
}
#contact .content .center .text-part .text {
  margin: 1em 0;
}
#contact .content .center .text-part .text .email {
  font-size: 2rem;
  color: #FAEDF6;
  text-decoration: underline;
}
#contact .content .center .text-part .text h2 {
  font-size: normal;
  font-weight: 400;
  font-family: "Cinzel", serif;
}
#contact .content .center .text-part .text input, #contact .content .center .text-part .text textarea {
  width: 100%;
  background-color: #595D73;
  border: 2px solid white;
  border-radius: 0.5em;
  padding: 0.5em;
  font-size: 1.2rem;
  color: #FAEDF6;
}
#contact .content .center .text-part .text textarea {
  min-height: 200px;
  font-size: 1.4rem;
}
#contact .content .center .text-part .text .form-field {
  display: flex;
  margin: 1em 0.2em;
}
#contact .content .center .text-part .text .form-field label {
  flex-basis: 14%;
}
#contact .content .center .text-part .text label {
  font-size: 2rem;
  color: #FAEDF6;
}
#contact .content .center .text-part .text .message {
  margin: 1em 0;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  justify-content: stretch;
}
#contact .content .center .text-part .text .btn-send {
  background-color: #FFD06A;
  color: #434760;
  max-width: 200px;
  white-space: nowrap;
  align-self: flex-end;
}