.btn{
    background:none;
    color:$white;
    padding: .4em 2em;
    font-size: 1.1rem;
    border: none;
    border-radius: 1em;
    transition: all 250ms ease;
    font-family: $fontNova;

    &:hover, &.selected{
        background-color: #7B1778;
        color: $gold;
        cursor: pointer;
    }

    &:active{
        scale: .94;
    }
}