@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nova+Cut&display=swap');

$fontCinzel: 'Cinzel',serif;
$fontCinzelEX: 'Cinzel Decorative',cursive;
$fontNova: 'Nova Cut', sans-serif;