@import 'reset';
@import 'fonts';
@import 'utilities';

$gold:#FFD06A;
$paleGold:#FCEBB5;
$silver:#434760;
$white: #FAEDF6;
$purple: #C978FB;
$pink: #FF84FB;
button:hover{
    cursor: pointer;
}
@mixin absolute($anchor:false){
    position: absolute;
    @if $anchor {
        transform: translate(-50%);
    }
}

@mixin img-fit(){
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
@keyframes speen{
    from{
        rotate:0deg;
    }
    to{
        rotate:360deg;
    }
}
@mixin mg-center(){
    margin: 0 auto;
}
body {
    background-color: rgb(255, 255, 255);
    background: url('../assets/pattern/purple_cross.png'),rgb(255, 255, 255);
    background-blend-mode: multiply;
    min-height: 500vh;
}

*{
    scroll-behavior: smooth;
    font-family: $fontNova;
}

h1,h2,h3{
    font-family: $fontCinzelEX;
    color: $white;
}
#header{
    background: linear-gradient(341.81deg, #E1B0FF 19.26%, #FF84FB 64.69%, #F3B08E 113.77%, #C978FB 123.97%);
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 2em;
    box-shadow: 0px 4px 15px 2px rgba(14, 12, 107, 0.117);
    .hikari-vector{
        @include img-fit();
        width: 100%;
        filter: drop-shadow(-7px 4px 0px rgba(0, 0, 0, 0.25));
        transition: all 250ms ease;
     
    }

    .hikari-logo{
        @include img-fit();
        @include absolute(true);
        bottom: 4%;
        left: calc(50% - 20px);
        height: 36%;
    }

    .decor_dashed-border{
        @include img-fit();
        @include absolute(true);
        max-width: min(100vw,1200px);
        width: 92vw;
        height: 94%;
        object-fit: fill;
        bottom: 3%;
        left: 50%;
        opacity: .6;
    }

    .decor_moon-ct{
         @include img-fit();
         @include absolute(true);
         top: 30%;
         left: 50%;
         z-index: 0;
         animation: speen 125s linear infinite;
         transform-origin: 0% 50%;
    }
}

#nav{
    background: linear-gradient(180deg, #96379C 0%, #C36BAE 100%);
    border: 2px solid  #FAEDF6;
    box-shadow: 0px 2px 11px #A65E9B;
    margin: 0 auto;
    width: fit-content;
    position: relative;
    padding: .5em 1em;
    transform: translateY(-50%);

    display: flex;
    justify-content: space-around;
    border-radius: 2em;
    gap: .4em;
    .btn{
        background:none;
        color:$white;
        padding: .4em 2em;
        font-size: 1.1rem;
        border: none;
        border-radius: 1em;
        transition: all 250ms ease;
        font-family: $fontNova;

        &:hover, &.selected{
            background-color: #7B1778;
            color: $gold;
        }
    }
}


#about{
    background-color: $silver;
    max-width: 1100px;
    margin: 2em auto;
    border-radius:  0 230px 0 0;
    min-height: 350px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: end;
    
    border: 2px solid $white;
    .img-part{
        background:url('../assets/image/hikari-ribbon_half.png');
        // background-color: red;
        background-size: cover;
        background-position: 80% 120%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        scale: 1.2;
        transform-origin: bottom;
        transform: translateY(4px);

    }

    .text-part{
        align-self: normal;
        text-align: center;
        padding-right: 1em;
        .title{
            font-size: 4rem;
            white-space: nowrap;
            text-align: left;
            position: relative;
            left: -15%;
            margin-top: .3em;
            margin-bottom: -10px;
            span{
                font-weight: normal;
                font-size: 1.4rem;
                letter-spacing: 3px;
                font-family: $fontCinzel;
            }
        }
        .frame{
            display: flex;
            flex-grow: 1;
            justify-content: stretch;
            align-items: center;
            white-space: nowrap;
            color:$paleGold;
            gap: 1em;
            max-width: 60%;
            margin: 0 auto;
            hr{
                width: 100%;
                border-bottom: 2px solid $paleGold;
            }
        }

        .paragraph{
            color: $white;
            margin:2em;
        }
    }

    position: relative;
    &::before{
        content:"";
        @include absolute(true);
        width:97%;
        height: 90%;
        left: 50%;
        bottom: 5%;
        // background-color: white/;
        border: 1px solid #ffffff8c;
        border-radius: 80px;
        z-index: 1;
        user-select: none;
        pointer-events: none;
    }
    &::after{
        content:url('../assets/decoration/star_1.svg');
        @include absolute();
        top: 0%;
        right: 2px;
        scale: .75;
        animation: speen 18s infinite linear;
        z-index: 2;
        filter: drop-shadow(0px 0px 15px #ed47f975);
    }
}

#social{
    max-width: 1100px;
    @include mg-center();
    margin-top: 120px;
    & .section-header{
         background: linear-gradient(180deg, #FAA5CD 0%, #FC9AE7 100%);
         display: flex;
         align-items: center;
         justify-content: stretch;
         padding: 0 .2em;
         border-radius: 2em 2em 0 0 ;
         & hr{
            width: 100%;
            margin: 2em;
            border: none;
            border-bottom: 2px solid $paleGold;
         }
         & .title{
            font-size: 2.4rem;
            padding: -2em 0;
         }
         & .decor_star{
           @include img-fit();
           height: 50px;
           object-fit: contain;
           scale: 1.4;
           animation: speen 25s infinite linear;
          
           &:last-child{
              animation: speen 25s reverse infinite linear;
            }
         }
    }

    & .links{
        min-height: 550px;
        background: linear-gradient(180deg, #CE88D5 0%, #A472D0 100%, #250E38 100%),url('..//assets/image/hikari_shadow1.png');
        background-blend-mode: multiply;
        background-position: center bottom;
        background-repeat: no-repeat;
        border-radius: 0 0 2em 2em;
        display: flex;
        justify-content: space-between;
        padding: 2em 2em;
        & .link{
            display:inline-block;
            aspect-ratio: 1/1;
            position: relative;
            background: linear-gradient(180deg, #D884FF 0%, rgba(255, 208, 106, 0.74) 59.53%, rgba(255, 208, 106, 0) 97.03%);
            scale: .8;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 50%;
            max-width: 150px;
            padding: 1em;
            gap: .2em;
            & .link_title{
                position: relative;
                font-family: $fontCinzel;
                color: $white;
                background-color: $silver;
                font-size: .8rem;
                padding:  0 2em;
                white-space: nowrap;
                border-radius: 2em;
                letter-spacing: 3px;
                text-align: center;
            }
            & .link_icon{
                font-size: 5rem;
                color: $silver;
                position: relative;
            }
            & .link_a{
                width: 100%;
                height: 100%;
                background-color: #1a191b30;
                @include absolute();
                border-radius: 50%;
                opacity: .02;
                z-index: 100;

            }

            &::before{
                content: '';
                @include absolute();
                width: 100%;
                height: 100%;
                rotate: 45deg;
                // background-color: red;
                border: 4px solid $white;
                scale: .8;

                transform-origin: center;
                opacity: .4;
                bottom:0%;
            }
            &::after{
                content: '';
                @include absolute();
                width: 100%;
                height: 100%;
                rotate: 0deg;
                border: 4px solid $white;
                scale: .6;
                transform-origin: center;
                opacity: 0;
                bottom:0%;
                transition: all 250ms ease;
            }
            &:hover::after{
                content: '';
                @include absolute();
                width: 100%;
                height: 100%;
                rotate: 135deg;
                border: 6px solid $pink;
                scale: .84;
                transform-origin: center;
                opacity: 1;
                z-index: -1;
                bottom:0%;
                box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.196);
            }

        }
        & .side{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3em;
            & .offset-down{
                position: relative;
                top: 23%;
            }
            & .row{
                display: flex;
                flex-direction: column;
                gap: 5em;
            }
        }
    }
}