@import 'reset';
@import 'fonts';

$gold:#FFD06A;
$paleGold:#FCEBB5;
$silver:#434760;
$white: #FAEDF6;
button:hover{
    cursor: pointer;
}
@mixin absolute($anchor:false){
    position: absolute;
    @if $anchor {
        transform: translate(-50%);
    }
}

@mixin img-fit(){
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
@keyframes speen{
    from{
        rotate:0deg;
    }
    to{
        rotate:360deg;
    }
}
@mixin mg-center(){
    margin: 0 auto;
}
body {
    background-color: rgb(255, 255, 255);
    background: url('../assets/pattern/purple_cross.png'),rgb(255, 255, 255);
    background-blend-mode: multiply;
    min-height: 500vh;
}

*{
    scroll-behavior: smooth;
    font-family: $fontNova;
}

h1,h2,h3{
    font-family: $fontCinzelEX;
    color: $white;
}
#header{
    background: linear-gradient(341.81deg, #E1B0FF 19.26%, #FF84FB 64.69%, #F3B08E 113.77%, #C978FB 123.97%);
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 2em;
    box-shadow: 0px 4px 15px 2px rgba(14, 12, 107, 0.117);
    .hikari-vector{
        @include img-fit();
        width: 100%;
        filter: drop-shadow(-7px 4px 0px rgba(0, 0, 0, 0.25));
        transition: all 250ms ease;
     
    }

    .hikari-logo{
        @include img-fit();
        @include absolute(true);
        bottom: 4%;
        left: calc(50% - 20px);
        height: 36%;
    }

    .decor_dashed-border{
        @include img-fit();
        @include absolute(true);
        max-width: min(100vw,1200px);
        width: 92vw;
        height: 94%;
        object-fit: fill;
        bottom: 3%;
        left: 50%;
        opacity: .6;
    }

    .decor_moon-ct{
         @include img-fit();
         @include absolute(true);
         top: 30%;
         left: 50%;
         z-index: 0;
         animation: speen 125s linear infinite;
         transform-origin: 0% 50%;
    }
}

#nav{
    background: linear-gradient(180deg, #96379C 0%, #C36BAE 100%);
    border: 2px solid  #FAEDF6;
    box-shadow: 0px 2px 11px #A65E9B;
    margin: 0 auto;
    width: fit-content;
    position: relative;
    padding: .5em 1em;
    transform: translateY(-50%);

    display: flex;
    justify-content: space-around;
    border-radius: 2em;
    gap: .4em;
    .btn{
        background:none;
        color:$white;
        padding: .4em 2em;
        font-size: 1.1rem;
        border: none;
        border-radius: 1em;
        transition: all 250ms ease;
        font-family: $fontNova;

        &:hover, &.selected{
            background-color: #7B1778;
            color: $gold;
        }
    }
}


#about{
    background-color: $silver;
    max-width: 1100px;
    margin: 2em auto;
    border-radius:  0 200px 0 0;
    min-height: 350px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: end;
    
    border: 2px solid $white;
    .img-part{
        background:url('../assets/image/hikari-ribbon_half.png');
        // background-color: red;
        background-size: cover;
        background-position: 80% 120%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        scale: 1.2;
        transform-origin: bottom;
        transform: translateY(4px);

    }

    .text-part{
        align-self: normal;
        text-align: center;
        padding-right: 1em;
        .title{
            font-size: 4rem;
            white-space: nowrap;
            text-align: left;
            position: relative;
            left: -15%;
            margin-top: .3em;
            margin-bottom: -10px;
            span{
                font-weight: normal;
                font-size: 1.4rem;
                letter-spacing: 3px;
                font-family: $fontCinzel;
            }
        }
        .frame{
            display: flex;
            flex-grow: 1;
            justify-content: stretch;
            align-items: center;
            white-space: nowrap;
            color:$paleGold;
            gap: 1em;
            max-width: 60%;
            margin: 0 auto;
            hr{
                width: 100%;
                border-bottom: 2px solid $paleGold;
            }
        }

        .paragraph{
            color: $white;
            margin:2em;
        }
    }
}