@import 'reset';

@mixin absolute($anchor:false){
    position: absolute;
    @if $anchor {
        transform: translate(-50%);
    }
}

@mixin img-fit(){
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
@keyframes speen{
    from{
        rotate:0deg;
    }
    to{
        rotate:360deg;
    }
}
@mixin mg-center(){
    margin: 0 auto;
}
body {
    background-color: rebeccapurple;
    min-height: 500vh;
}

#header{
    background: linear-gradient(341.81deg, #E1B0FF 19.26%, #FF84FB 64.69%, #F3B08E 113.77%, #C978FB 123.97%);
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 2em;
    .hikari-vector{
        @include img-fit();
        // @include mg-center();
        width: 100%;
        filter: drop-shadow(-7px 4px 0px rgba(0, 0, 0, 0.25));
    }

    .hikari-logo{
        @include img-fit();
        @include absolute(true);
        bottom: 4%;
        left: 50%;
        height: 36%;
    }

    .decor_dashed-border{
        @include img-fit();
        @include absolute(true);
        max-width: min(100vw,1200px);
        width: 92vw;
        height: 93%;
        object-fit: fill;
        bottom: 3%;
        left: 50%;
        opacity: .6;
    }

    .decor_moon-ct{
         @include img-fit();
         @include absolute(true);
         top: 30%;
         left: 50%;
         z-index: 0;
         animation: speen 125s linear infinite;
         transform-origin: 0% 50%;
    }
}


